<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Gaming Blog - About</title>

{% extends "blog_app/padre.html" %}

{% load static %}

{% block esquina_izquierda %}     
    Inicio
{% endblock %}

{% block titulo %} Zona Gaming Blog {% endblock %}
{% block Subtitulo %} Acerca de Mi {% endblock %}

{% block contenido %} 

<h5> Acerca del Creador </h5>
    

<h7> Soy el creador de este proyecto. Mi nombre es Diógenes Villalobos Hernández, chileno de 31 años y de profesión Diseñador de Videojuegos. Como podrás observar, el mundo gaming siempre ha sido algo que me apasiona, por lo que decidí enfocar mi proyecto en ese ámbito, pudiendo dar la oportunidad a la gente que visite este proyecto para que pueda crear sus propios blogs enfocados en los temas que mas les interese. </h7>

{% endblock %}