<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Gaming Blog - Editor</title>

{% extends "blog_app/padre.html" %}

{% load static %}

{% block esquina_izquierda %}     
    Inicio
{% endblock %}

{% block titulo %} Zona Gaming Blog {% endblock %}
{% block Subtitulo %} Editar Perfil de Usuarios {% endblock %}

{% block contenido %} 

<form action="{% url agregar_avatar %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <input type="hidden" name="id" value="{{ usuario.id }}"> <!-- Campo oculto para el id -->

    <table>
    
    {{ form.as_table }}

    </table>

    <input type="submit" value="Agregar Avatar">
    
</form>

<h3>{{ mensaje }}</h3>
    
{% endblock %}

