<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Gaming Blog - Listado</title>

{% extends "blog_app/padre.html" %}

{% load static %}

{% block esquina_izquierda %}    
    Inicio
{% endblock %}

{% block titulo %} Zona Gaming Blog {% endblock %}
{% block Subtitulo %} Un listado con las Entradas Disponibles {% endblock %}

{% block contenido %} 

<h5>Formulario </h5>
<form action="{% url 'crear_blog' %}" method="POST"> {% csrf_token %}

    {{ formulario.as_p }}

    <input type="submit" value="Crear Blog">

</form>

<h3>{{ mensaje }}</h3>
{% endblock %}