<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Gaming Blog - Inicio</title>

{% extends "blog_app/padre.html" %}

{% load static %}

{% block esquina_izquierda %}     
    Volver Arriba
{% endblock %}

{% block titulo %} Zona Gaming Blog {% endblock %}
{% block Subtitulo %} Un espacio para la Comunidad Gaming {% endblock %}


{% block contenido %} 

    <h5> {{mensaje}}</h5>
    <h1> Noticias del Mundo Gaming </h1>
{% endblock %}

{% block clase_imagen_1 %}
"img-fluid rounded-circle"
{% endblock %}

{% block imagen_1 %}
"{% static 'blog_app/assets/img/tears_kingdom.jpg' %}"
{% endblock %}

{% block clase_imagen_2 %}
"img-fluid rounded-circle"
{% endblock %}

{% block imagen_2 %}
"{% static 'blog_app/assets/img/ff_16.jpg' %}"
{% endblock %}

{% block clase_imagen_3 %}
"img-fluid rounded-circle"
{% endblock %}

{% block imagen_3 %}
"{% static 'blog_app/assets/img/mario_wonder.jpg' %}"
{% endblock %}


{% block encabezado_contenido_1 %}
    <h2> ¿Hay una película de Zelda en camino? Universal lo negó, pero uno de los filtradores más famosos del cine apuesta por el sí </h2>     
{% endblock %}

{% block cuerpo_contenido_1 %}     
    <p> My Time To Shine, conocido filtrador de Marvel con un currículo de aciertos y fallos, dice que Universal ya está trabajando en ella </p>
{% endblock %}

{% block encabezado_contenido_2 %}
    <h2> La historia de Final Fantasy XVI ha encantado tanto a los jugadores que casi la mitad de sus compradores han completado el modo Campaña </h2>     
{% endblock %}

{% block cuerpo_contenido_2 %}     
    <p> Esto se traduce en que más de 1 millón de usuarios han completado el modo Campaña, cuya duración mínima es de 35 horas </p>
{% endblock %}

{% block encabezado_contenido_3 %}
    <h2> "Tuvimos más de mil ideas". Si Super Mario Wonder es tan bonito e innovador es porque Nintendo no puso fechas límite a sus creadores </h2>     
{% endblock %}

{% block cuerpo_contenido_3 %}     
    <p> Los desarrolladores de Super Mario Bros. Wonder llevaron a cabo una gran encuesta entre todos los miembros del equipo de desarrollo </p>
{% endblock %}