<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Gaming Blog - Login</title>

{% extends "blog_app/padre.html" %}

{% load static %}

{% block esquina_izquierda %}     
    Inicio
{% endblock %}

{% block titulo %} Zona Gaming Blog {% endblock %}
{% block Subtitulo %} Un espacio para la Comunidad Gaming {% endblock %}

{% block contenido %} 
    <h3> Login Usuario </h3>

    <h3>{{mensaje}}</h3>

    <form action="{% url 'login' %}" method="POST"> {% csrf_token %}

        <table>

            {{form.as_table}}

        </table>

        <input type="submit" value="INGRESAR">

    </form>
{% endblock %}